<div class="page-header">
  <div>
    <h1>Ειδοποιήσεις</h1>
    <p class="lead">Οι πιο πρόσφατες ενημερώσεις σου.</p>
  </div>
</div>

<div class="notifications-list">
  <% @notifications.each do |n| %>
    <%= render "notifications/notification", notification: n %>
  <% end %>
</div>
